<!-- Header -->
<div id="header-wrapper">
	<header id="header" class="container">
		<div class="row">
			<div class="12u">

				<!-- Logo -->
				<h1><a href="{{ site.baseurl }}" id="logo">Open Coalition</a></h1>

				<!-- Nav -->
				<nav id="nav">
					{% for page in site.pages %}
						{% if page.title %}
							<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
						{% endif %}
					{% endfor %}
				</nav>

			</div>
		</div>
	</header>
	<div id="banner">
		<div class="container">
			<div class="row">
				<div class="6u">

					<!-- Banner Copy -->
					<p>The Open Coalition is a loose affiliation of organisations, which exists to support
					   collaboration and mobilise action between practitioners and those new to the open
					   space.
					</p>

					<p>
						We are proud to be working with all our partners and look forward to growing in the
						future.
					</p>
					<a href="#" class="button-big">Join the Coalition</a>

				</div>
				<div class="6u">

					<!-- Banner Image -->
					<a href="#" class="bordered-feature-image"><img
							src="{{ 'images/banner.jpg' | prepend: site.baseurl}}" alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
