<!-- Header -->
<div id="header-wrapper">
	<header id="header" class="container">
		<div class="row">
			<div class="col-md-12">

				<!-- Logo -->
				<h1><a href="/" id="logo">Open Coalition</a></h1>

				<!-- Nav -->
				<nav id="nav">
					{% for page in site.pages %}
						{% if page.title %}
							<a class="page-link {% if page.url == post.url %}active{% endif %}"
							   href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
						{% endif %}
					{% endfor %}
				</nav>

			</div>
		</div>
	</header>
</div>