---
layout: default
---
<!-- Header -->
<div id="header-wrapper">
	<header id="header" class="container">
		<div class="row">
			<div class="col-md-12">

				<!-- Logo -->
				<h1><a href="/" id="logo">Open Coalition</a></h1>

				<!-- Nav -->
				<nav id="nav">
					{% for page in site.pages %}
						{% if page.title %}
							<a class="page-link"
							   href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
						{% endif %}
					{% endfor %}
				</nav>

			</div>
		</div>
	</header>
</div>
<!-- Content -->
<div id="content-wrapper">
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="12u">

					<!-- Main Content -->
					<section>
						<header>
							<h2>{{ page.title }}</h2>
						</header>
						<div>
							{{ content }}
						</div>
					</section>

				</div>
			</div>
		</div>
	</div>
</div>
