---
layout: default
---
<!-- Header -->
<div id="header-wrapper">
	<header id="header" class="container">
		<div class="row">
			<div class="col-md-12">

				<!-- Logo -->
				<h1><a href="{{ site.baseurl }}" id="logo">Open Coalition</a></h1>

				<!-- Nav -->
				<nav id="nav">
					{% for page in site.pages %}
						{% if page.title %}
							<a class="page-link"
							   href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
						{% endif %}
					{% endfor %}
				</nav>

			</div>
		</div>
	</header>
</div>
<!-- Content -->
<div id="content-wrapper">
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="col-md-9">

					<!-- Main Content -->
					<section>
						<header>
							<h2>{{ page.title }}</h2>


						</header>
						<div>
							{{ content }}
						</div>
					</section>

				</div>
				<div class="col-md-3">

					<!-- Sidebar -->
					<section>
						<header>
							<h2>Tweets by @OpenCoalition</h2>
						</header>
						<a class="twitter-timeline" href="https://twitter.com/OpenCoalition"
						   data-widget-id="495164143280734210" data-link-color="#05c6b4"
						   data-chrome="noheader nofooter noborders transparent noscrollbar"
						   data-tweet-limit="3"
						   data-aria-polite="assertive"
						   lang="EN">Tweets by @OpenCoalition
						</a>

						<div style="float: right">
							<a href="https://twitter.com/OpenCoalition" class="twitter-follow-button"
							   data-show-count="false" data-lang="en">Follow Us
							</a>

						</div>
					</section>
					<script>!function (d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (!d.getElementById(id)) {
							js = d.createElement(s);
							js.id = id;
							js.src = "//platform.twitter.com/widgets.js";
							fjs.parentNode.insertBefore(js, fjs);
						}
					}(document, "script", "twitter-wjs");</script>

				</div>
			</div>
		</div>
	</div>
</div>

